<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <!-- Botón de Confirmar -->
  <ion-button expand="full" color="primary" (click)="confirmPasswordChange()">Confirmar</ion-button>
</ion-content>
